@use '../variables'
@use '../mixins'

#sidebar 
        background-color: variables.$bg-color
        flex: 1 1 0
        border-radius: variables.$container-border-radius
        display: flex         
        align-items: center
        flex-direction: column
        text-align: center
        position: relative
        padding: 3rem 0 
        

.title 
        color: variables.$text-color
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 3rem
        padding: .6rem 1.2rem
        font-family: 'Poppins', sans-serif
        //opacity: 0.3
.img 
        width:20% 
        height: 50%       
        border-radius: variables.$container-border-radius
        position: relative
        top: -3rem

.btn     
        
        @include mixins.btn        