@use  './variables'

@mixin center 
        display: flex
        justify-content: center
        align-items: center
        

@mixin btn 
        padding: 0.5rem 1rem 
        background: variables.$gradient
        text-decoration: none
        border-radius: 1.5rem
        font-family: 'Poppins', sans-serif
        margin-top: 0.8rem


@mixin gradient-border
        content: ""
        background-color: variables.$gradient
        height: 3px
        width: 30px
        