$font-stack: 'Poppins', sans-serif,'Rubik Bubbles', cursive
$text-color: #d5bdd6
$text-color-secondary: #a842a8
$body-bg-color: #a19494
$bg-color: #2e2c2c
$bg-color-secondary: #262626
$container-border-radius: 10px
$gradient: linear-gradient(90deg, #b377a6 0%, #ad7aad 100%)
$text-color-universe:#b9ad6a
$card-border-radius: 20px