$font-stack: "Helvetica"
$text-color: #ecdfdf
$text-color-secondary: #5e245e
$body-bg-color: #3b3737
$bg-color: #2e2c2c
$bg-color-secondary: #262626
$container-border-radius: 10px
$gradient: linear-gradient(90deg, #771b63 0%, #775c8b 100%)
$text-color-universe: yellow
$card-border-radius: 5px